// Import fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Mirza:400,700");

@import "./node_modules/reset-css/sass/reset";


// Material Design Components
@import "@material/elevation/mdc-elevation";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/shape/mdc-shape";
@import "@material/shape/mixins";


:root {
  $mdc-theme-primary: #fcb8ab;
  $mdc-theme-secondary: #feeae6;
  $mdc-theme-on-primary: #442b2d;
  $mdc-theme-on-secondary: #442b2d;
}

@import "scss/fluid-typography";

@import "scss/base";

@import "scss/grid";

@import "scss/carousel";

