// Normalize css
@import "../node_modules/normalize.css/normalize.css";

$mdc-theme-primary: #bbdefb;
$mdc-theme-on-primary: #002e6b;
$mdc-theme-secondary: #90caf9;
$mdc-theme-on-secondary: #002e6b;
$mdc-theme-surface: #e3f2fd;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;

// Material Design Components
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/elevation/mdc-elevation";
@import "@material/typography/mdc-typography";
@import "@material/shape/mixins";
@import "@material/shape/functions";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/fab/mdc-fab";

@import "src/scss/base";

