// Import fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Mirza:400,700");

@import "../node_modules/reset-css/sass/reset";

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #ffeb3b;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;

// Material Design Components
@import "@material/elevation/mdc-elevation";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";
@import "@material/linear-progress/mdc-linear-progress";

@import "src/scss/fluid-typography";

@import "src/scss/base";

@import "src/scss/grid";

@import "src/scss/carousel";

