// Normalize css
@import "normalize.min.css";

$mdc-theme-primary: #0d47a1;
$mdc-theme-on-primary: #0d47a1;
$mdc-theme-secondary: #0d47a1;
$mdc-theme-on-secondary: #0d47a1;
$mdc-theme-surface: #0d47a1;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #0d47a1;

// Material Design Components
@import "~@material/linear-progress/mdc-linear-progress";
@import "~@material/typography/mdc-typography";
@import "~@material/animation/variables";
@import "~@material/chips/mdc-chips";
@import "~@material/fab/mdc-fab";

@import "src/scss/breakpoints";
@import "src/scss/base";
@import "src/scss/profile";
@import "src/scss/grid";
@import "src/scss/animations";