@keyframes slide-up {
    from {
        transform: translateY(40vh);
    }

    to {
        transform: translateY(0);
    }
}

%hover-gradient {
    background-repeat: no-repeat;
    background-size: 0% 0%;
    will-change: background-size;
}

.header {
    @extend %hover-gradient;
    background-image: linear-gradient(to top, #21da9c, #38ef7d);
    transition: background-size 250ms $mdc-animation-acceleration-curve-timing-function;

    &:hover {
        transition: background-size 300ms $mdc-animation-deceleration-curve-timing-function;
    }
}

.section {
    @extend %hover-gradient;
    background-image: linear-gradient(to bottom, #a3e8ea, #7bc8d6);
    transition: background-size 250ms $mdc-animation-acceleration-curve-timing-function;

    &:hover {
        transition: background-size 300ms $mdc-animation-deceleration-curve-timing-function;
    }
}

.mdc-chip {
    @extend %hover-gradient;
    background-image: linear-gradient(to top left, #ffba53, #ffce65);
    transition: background-size 200ms $mdc-animation-acceleration-curve-timing-function;

    &:hover {
        transition: background-size 250ms $mdc-animation-deceleration-curve-timing-function;
    }

    &.github {
        background-image: linear-gradient(to top left, #fafafa, #ffffff);
    }

    &.linkedin {
        background-image: linear-gradient(to top left, #71c6ff, #a4e5ff);
    }
}