// GRADIENT COLORS 
$green: #8bc34a;
$green-light: #bef67a;
$green-dark: #5a9216;

$orange-light: #ffb900;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;

// FONT VARIABLES
$font-primary: "Open Sans", sans-serif;
$font-display: "Mirza", monospace;

$enable-shadows: true;
$card-corner-radius: 4px;

.loader {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: auto;
}

html {

    body {

        font-display: swap;
        font-family: $font-primary;

        .mdc-card {
            @include mdc-card-corner-radius($card-corner-radius);

            &__primary {
                padding: 1rem;
            }

            &__secondary {
                padding: 0px 1rem 1rem 1rem;
            }

            .card {
                &-title {
                    @include mdc-typography(headline6);
                }
    
                &-text {
                    @include mdc-typography(body2);
                }
            }
        }

        .fit-viewport {
            display: none;
            height: 100vh;
            width: 100vw;
        }
    }
}
.gradient {
    &-orange {
        background-image: linear-gradient(to right bottom, $orange-light, $orange-dark);
    }
    &-green {
        background-image: linear-gradient(to right bottom, $green-light, $green-dark);
    }
    &-blue {
        background-image: linear-gradient(to right bottom, $blue-light, $blue-dark);
    }
}
