$enable-shadows: true;
$card-corner-radius: 4px;

#loader {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: auto;
}

#content {
    display: none;
    scroll-behavior: smooth;
}

html {
    @include mdc-typography-overflow-ellipsis;
    white-space: normal;
    overflow: visible;

    background-image: url("src/media/paper-fibers.png");

    body {

        .mdc-card {
            @include mdc-card-shape-radius($card-corner-radius);

            &__primary, &__secondary {
                padding: 1rem;
            }

            .card-title {
                @include mdc-typography(headline6);
                color: $mdc-theme-on-primary;
            }
        }
        
        .mdc-list-item {
            height: auto;

            &__text {
                @include mdc-typography-overflow-ellipsis;
                white-space: normal;
            }
            
            &__graphic {
                padding: 4px;
                border: $mdc-theme-on-primary dotted 1px; 
                border-radius: $card-corner-radius;
                // background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
                // background-blend-mode: multiply;

                svg path:nth-child(2) {
                    fill: $mdc-theme-on-primary;
                }
            }
        }
    }
}
