.header {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    .lines {
        @include interpolate(width, 200px, 1600px, 200px, 500px);
        min-height: 4rem;
        // height: 10vh;
    }
}
