.header {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: h;

    .lines {
        @include interpolate(width, 200px, 1200px, 200px, 500px);
        min-height: 50px;
    }
}

.carousel-content {
    grid-area: c;
}

.grid-wrap {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns: repeat(10, 1fr);

    grid-template-areas: 
        ". . . . . . . . . ." 
        ". . h h h h h h . ." 
        ". c c c c c c c c ." 
        ". c c c c c c c c ." 
        ". c c c c c c c c ." 
        ". c c c c c c c c ." 
        ". c c c c c c c c ." 
        ". . . . . . . . . .";

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(12, 1fr);

        grid-template-areas: 
            ". . . . . . . . . . . ." 
            ". h h h h h h h h h h ." 
            ". c c c c c c c c c c ." 
            ". c c c c c c c c c c ." 
            ". c c c c c c c c c c ." 
            ". c c c c c c c c c c ." 
            ". c c c c c c c c c c ." 
            ". . . . . . . . . . . .";
    }
}
